body{
    background: #BDBDBD;
}

.jumbotron-bg {
  background-image: url('../img/bg.jpg');
  background-size: cover;
  background-position: bottom center;
  background-repeat: no-repeat;
  color: white;
  min-height: 400px;
  display: flex;
  align-items: center;
  position: relative;
}







img{
   border-radius: 50%; 
   padding: 20px;
}

.custom-card {
      /* width: 100%; */
      max-width: 50px;
      margin: auto;
    }
 .gray-text {
        color: gray;
        text-align: left;
    }
.card-body{
    margin-left:0;
    padding-left:none;
}
.card{
    padding-left:1px;
}

img{
    border-radius: 150px;
}

.jumbotron-bg {
  background-image: url('../img/bg.jpg');
  background-size: cover;
  background-position: bottom center;
  background-repeat: no-repeat;
  color: white;
  min-height: 400px;
  display: flex;
  align-items: center;
  position: relative;
}