<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Keithrick Pennie The-first_heading</title>
</head>
<body>
    <div class="container">
        <div class="Text-section">
            <h1><b>This First Heading</b> Will Catch Your Eye</h1>
            <p>dolor sit amet consectetur adipisicing elit. Impedit consequatur ex porro maiores recusandae veritatis quibusdam cumque excepturi fugiat reprehenderit nostrum, tempora nisi voluptatem asperiores eos quam delectus unde tenetur. dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
    <div class="image-section>">
        <img src="assets/img/1.jpg" alt="trying" />
    </div>
</body>