<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.min.js" integrity="sha384-7qAoOXltbVP82dhxHAUje59V5r2YsVfBafyUDxEdApLPmcdhBPg1DKg1ERo0BZlK" crossorigin="anonymous"></script>
</head>
<body>
<div class="card-container">
  <h3 class=""><b>Portfolio</b></h3>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium debitis voluptate earum, quas sequi possimus. Modi ducimus unde ad esse qui aliquam dolores, recusandae repudiandae velit at, cumque distinctio possimus!</p>
<div class="card-group">
    <div class="card">
    <img src="assets/img/face_woman_hat_skin.jpg" class="card-img-top" alt="smiling woman">
    <div class="card-body">
        <h5 class="card-title"> <a href=""> Project Name</a> </h5>
      <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto nihil unde similique repudiandae aut tempora aliquam</p>
    </div>
  </div>
  <div class="card">
    <img src="assets/img/smiling_face_african_portrait.jpg" class="card-img-top" alt="women face">
    <div class="card-body">
           <h5 class="card-title"> <a href=""> Project Name</a> </h5>
      <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto nihil unde similique repudiandae aut tempora aliquam </p>
    </div> 
  </div>
  <div class="card">
    <img src="assets/img/woman_face_woman_s.jpg" class="card-img-top" alt="woman face">
    <div class="card-body">
          <h5 class="card-title"> <a href=""> Project Name</a> </h5>
      <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto nihil unde similique repudiandae aut tempora aliquam </p>
     </div>
  </div>
</div>
    </div>
</body>
</html>