<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>
<body>
<div class="card mb-3" style="max-width: 100%;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="assets/img/2.jpg" class="rounded-circle img-thumbnail" alt="...">
      <!-- <img src="assets/img/2.jpg" class="" alt="..."> -->
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <Strong>
            <h5 class="The Second Heading Is Pretty Cool Too.">The Second Heading <span class="gray-text">Is Pretty Cool Too.</span></h5>      
        </Strong>
    
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam numquam magni vero sed minus delectus necessitatibus sunt magnam a ipsa. Maxime, ipsa quos neque ut illo tempore suscipit repudiandae ratione.</p>
      </div>
    </div>
  </div>
</div>
</body>
</html>