<!-- <div class="jumbotron-bg position-relative">
  <div class="container jumbotron-content text-center">
   
    <div class="container-fluid min-vh-100 d-flex justify-content-center align-items-center">
    <div class="full-width-bg">
      <h1 class="display-4 fw-bold m-0">One Page Wonder</h1>
    </div>
    </div>
    <div class="full-width-bg">
      <p class="lead m-0">Will knock your socks off</p>
    </div>
</div>
</div> -->

<div class="jumbotron-bg min-vh-100 d-flex justify-content-center align-items-center">
  <div class="text-center bg-white p-5 rounded shadow">
    <h1 class="display-4 fw-bold m-0">One Page Wonder</h1>
    <p class="lead m-0">Will knock your socks off</p>
  </div>
</div>
